.home {
  min-width: 1440px;
  > .swiper {
    min-width: 1440px;
    height: 780px;
    background-color: #060606;
    > .swiper-wrapper {
      > .swiper-slide {
        height: 780px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          height: 654px;
        }
      }
    }
  }
}
